@using ADASO_AgreementApp.Models.Entity
@model List<Agreementt>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">SÖZLEŞMELER</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sözleşme ID</th>
                        <th>Sözleşme Başlığı</th>
                        <th>Sözleşme İçeriği</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>Şirket</th>
                        <th>Mail</th>
                        <th>Güncelle</th>
                        <th>Durum</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var i in Model)
                    {


                        <tr>
                            <td>@i.Id</td>
                            <td>@i.Title</td>
                            <td>@i.Content</td>
                            <td>@i.StartDate</td>
                            <td>@i.EndDate</td>
                            <td>@i.CompanyName</td>
                            <td>@i.Email</td>


                            <td><a href="~/Agreement/SozlesmeGetir/@i.Id" class="btn btn-info">Güncelle</a></td>
                            <td>@i.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <a href="~/Agreement/NewAgrement" class="btn btn-info">Sözleşme Ekle</a>
            </div>
            <script>$('#btn').click(function () {
            alert('Sözleşme Eklendi');
        });</script>
        </div>
    </div>
</div>