@model ADASO_AgreementApp.Models.ViewModel.Class
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">KULLANICILAR</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: hidden;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Telefon</th>
                        <th>Mail</th>
                        <th>TC</th>
                        <th>Pozisyon</th>
                        <th>Bilgileri Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @using ADASO_AgreementApp.Helper
                    @{
                        var currentUser = UserHelper.GetCurrentUser();
                    }
                    @foreach (var items in Model.Admins)
                    {
                        <tr>
                            <td>@items.Name</td>
                            <td>@items.Surname</td>
                            <td>@items.Tel</td>
                            <td>@items.Mail</td>
                            <td>@items.TC</td>
                            <td>@items.Role</td>
                            <td>
                                @if (currentUser != null && (currentUser.Role == "Admin" || currentUser.Id == items.Id))
                                {
                                    <a href="~/Admin/KullanıcıGetir/@items.Id" class="btn btn-outline-success">Bilgileri Güncelle</a>
                                }
                                else
                                {
                                    <span>Yetkiniz yok</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (currentUser.Role == "Admin")
        {
            <a href="~/Admin/CreateUser" class="btn btn-info">Kullanıcı Ekle</a>
        }
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.7/js/dataTables.bootstrap4.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.bootstrap4.css" />
@if (currentUser.Role == "Admin")
{
    <script>
        $('#dataTable').DataTable({
            ordering: false
        });
    </script>
}
